@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: white;
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root .slick-list {
  overflow: visible;
}

:root .slick-list:hover {
  z-index: 100;
}

:root .slick-next {
  &::before {
    content: '';
  }
}
:root .slick-prev {
  &::before {
    content: '';
  }
}

:root .ant-modal-close {
  color: gray !important;
}

:root .ant-select-selection-item {
  color: #d1d0cf !important;
}

:root .ant-select-arrow {
  color: #d1d0cf !important;
}

:root .ant-select-selector {
  background-color: #141314 !important;
  border: 1px solid #d1d0cf !important;
}

:root .ant-select-item-option-selected {
  color: #141314 !important;
}

:root .ant-select-dropdown {
  background-color: #383738 !important;
  border-radius: 5px;
  box-shadow: 0px 5px 8px 1px black;
}

:root .ant-table {
  background-color: transparent;
}

:root .ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #fffcfc3b;
  color: white;
}

:root .ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: white;
}

:root .ant-pagination .ant-pagination-item-active {
  background-color: transparent;
  border-color: white;
}

:root .ant-pagination .ant-pagination-item-active a {
  color: white;
}

:root
  .ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: white;
}

:root .ant-input-number {
  background-color: transparent;
}

:root .inputCustom input {
  background-color: transparent;
}
:root .inputCustom {
  background-color: transparent;
  caret-color: red;
}

:root .inputCustom::placeholder {
  color: rgb(156, 155, 155);
}

:root .inputCustom input::placeholder {
  color: rgb(156, 155, 155);
}

:root .ant-picker .ant-picker-suffix > * {
  color: white;
}

:root .ant-picker-dropdown .ant-picker-header button {
  color: white;
}

:root .ant-picker-dropdown .ant-picker-cell-disabled {
  color: #5d5d5d;
}

:root .ant-picker .ant-picker-input-placeholder > input {
  color: #5d5d5d;
}

:root .ant-select-multiple .ant-select-selection-item {
  background-color: #d1d0cf3c;
}

:root .ant-empty-normal .ant-empty-description {
  color: rgba(255, 255, 255, 0.664);
}

:root .ant-popover .ant-popover-inner {
  background-color: #1e1e1e;
}

:root .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  background-color: wheat;
  color: black;
}

:root .ant-input[disabled] {
  color: #d1d0cf;
}

:root .ant-input-number-disabled .ant-input-number-input {
  color: #d1d0cf;
}

:root
  .ant-input-number-group-wrapper
  .ant-input-number-wrapper-disabled
  > .ant-input-number-group-addon {
  color: #d1d0cf;
}

:root .ant-picker .ant-picker-input > input[disabled] {
  color: #d1d0cf;
}

:root
  .ant-steps
  .ant-steps-item-custom
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon {
  top: 2px;
}

:root .ant-steps .ant-steps-item-wait.ant-steps-item-custom .ant-steps-item-icon > .ant-steps-icon {
  color: #979696;
}

:root
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #979696;
}

:root
  .ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #979696;
}

:root
  .ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #979696;
}

:root
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell-row-hover {
  background: #8f8f8f;
}

:root .ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected > .ant-table-cell {
  background: #290303;
}

:root .ant-btn:disabled > * {
  color: #c1c1c140;
}

:root .ant-dropdown .ant-table-filter-dropdown {
  background-color: #373131;
}

:root .ant-dropdown .ant-table-filter-dropdown .ant-dropdown-menu {
  background-color: #373131;
}

:root .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background: #290303;
  margin-bottom: 5px;
}

:root .ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
  background-color: transparent;
}

:root .ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover {
  background: transparent;
}

:root .ant-skeleton.ant-skeleton-active .ant-skeleton-title {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 5%,
    rgba(255, 255, 255, 0.15) 37%,
    rgba(255, 255, 255, 0.06) 63%
  );
  background-size: 400% 100%;
  animation-name: css-dev-only-do-not-override-ahno0m-ant-skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

:root .ant-skeleton.ant-skeleton-active .ant-skeleton-paragraph > li {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 5%,
    rgba(255, 255, 255, 0.15) 37%,
    rgba(255, 255, 255, 0.06) 63%
  );
  background-size: 400% 100%;
  animation-name: css-dev-only-do-not-override-ahno0m-ant-skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: white !important;
}

:root .swiper-button-next,
.swiper-button-prev {
  background-color: rgba(252, 0, 0, 0.621);
  border-radius: 1000px;
  padding: 22px;
}

:root .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.567);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;

  border-radius: 65px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d;
}
