@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: white;
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root .slick-list {
  overflow: visible;
}

:root .slick-list:hover {
  z-index: 100;
}

:root .slick-next {
  &::before {
    content: "";
  }
}
:root .slick-prev {
  &::before {
    content: "";
  }
}

:root .ant-modal-close {
  color: gray !important;
}

:root .ant-select-selection-item {
  color: #d1d0cf !important;
}

:root .ant-select-arrow {
  color: #d1d0cf !important;
}

:root .ant-select-selector {
  background-color: #141314 !important;
  border: 1px solid #d1d0cf !important;
}

:root .ant-select-item-option-selected {
  color: #141314 !important;
}

:root .ant-select-dropdown {
  background-color: #383738 !important;
  border-radius: 5px;
  box-shadow: 0px 5px 8px 1px black;
}

:root .ant-table {
  background-color: transparent;
}

:root .ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #fffcfc3b;
  color: white;
}

:root .ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: white;
}

:root .ant-pagination .ant-pagination-item-active {
  background-color: transparent;
  border-color: white;
}

:root .ant-pagination .ant-pagination-item-active a {
  color: white;
}

:root
  .ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: white;
}

:root .ant-input-number {
  background-color: transparent;
}

/* :root .ant-picker-input > input {
  background-color: transparent;
} */

:root .inputCustom input {
  background-color: transparent;
}
:root .inputCustom {
  background-color: transparent;
}

:root .inputCustom::placeholder {
  color: rgb(156, 155, 155);
}

:root .inputCustom input::placeholder {
  color: rgb(156, 155, 155);
}

:root .ant-picker .ant-picker-suffix > * {
  color: white;
}

:root .ant-picker-dropdown .ant-picker-header button {
  color: white;
}

:root .ant-picker-dropdown .ant-picker-cell-disabled {
  color: #5d5d5d;
}

:root .ant-picker .ant-picker-input-placeholder > input {
  color: #5d5d5d;
}

:root .ant-select-multiple .ant-select-selection-item {
  background-color: #d1d0cf3c;
}

:root .ant-empty-normal .ant-empty-description {
  color: rgba(255, 255, 255, 0.664);
}

:root .ant-popover .ant-popover-inner {
  background-color: #1e1e1e;
}

:root .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  background-color: wheat;
  color: black;
}

:root .ant-input[disabled] {
  color: #d1d0cf;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;

  border-radius: 65px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dedddd;
}
